body {
    max-width: 1920px;
    margin: auto;
}

* {
    font-family: 'Inter';
    font-style: normal;
}

.top-header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 30px;
    align-items: center;
}

.top-header .name {
    font-size: 26px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 0;
}

.nav li {
    padding-inline: 10px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.social-link img {
    width: 20px;
}

#about {
    display: flex;
    background-color: #F6D2B8;
    padding-inline: 100px;
    padding-block: 100px;
}

.picture img {
    width: 100%;
}

#about-me {
    flex: 2;
}

.about-me__title {
    font-size: 30px;
}

.about-me__introduction {
    font-family: 'Spectral';
    font-weight: 800;
    font-style: italic;
    width: 60%;
}

#about-me p {
    font-size: 14px;
}

.title {
    text-align: center;
    padding-block: 2em;
}

.gallery .nav {
    justify-content: center;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #BEB45A;
}

.nav-pills .nav-link {
    color: #000;
}

.gallery-item {
    width: 100%;
    object-fit: cover;
    padding: .5em;
}

#services {
    background-color: #A8D5D8;
    position: relative;
}

#services .container {
    justify-content: space-between;
    display: flex;
    padding: 2em 0;
}

.service {
    background-color: white;
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact {
    background-color: #D8D3A8;
    padding-inline: 100px;
    padding-block: 100px;
}

#contact .container {
    display: flex;
}

.form-container {
    flex: 2;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form input, form textarea {
    width: 100%;
    border: solid 1px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #BEB45A;
    padding: .5em 1em;
}

@media all and (max-width: 1000px) {
    #about {
        flex-direction: column;
    }

    .picture {
        width: 50%;
    }

    .about-me__title {
        text-align: center;
    }

    #services .container {
        flex-direction: column;
    }

    .service {
        width: 100%;
        height: auto;
    }

    #contact .container {
        flex-direction: column;
    }
}

@media all and (max-width: 650px) {
    .top-header {
        flex-direction: column;
    }

    .top-header .nav {
        width: 100%;
    }

    .service {
        max-width: 90%;
    }

    #about, #contact {
        padding-inline: 2em;
        padding-block: 2em;
    }

    form {
        width: 100%;
    }
}


